# {{ serviceName | title }}

## Getting Started

Make sure you understand how Docker works and have it installed!

## Contributing

Make sure to check out our [CONTRIBUTING.md]({{contributing_path}})
